name: Extract total evaluations from R

on: workflow_dispatch

jobs:
  run-r:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install R
        uses: r-lib/actions/setup-r@v2

      - name: Run all R scripts and extract evaluation counts
        id: evals
        run: |
                SCRIPTS=("dtj504-pixel/DissertationWork/case_study8.R" "dtj504-pixel/DissertationWork/looped_ver_case_study8_multi_point_EI.R"
                "dtj504-pixel/DissertationWork/looped_ver_case_study8_multi_point_AEI.R" "dtj504-pixel/DissertationWork/looped_ver_case_study8_KG.R")

                for S in "${SCRIPTS[@]}"; do
                echo "Running $S..."

                OUT=$(Rscript "$S")

                LINE=$(echo "$OUT" | grep -m1 "Total evaluations")
                NUMBER=$(echo "$LINE" | awk -F': ' '{print $2}')

                KEY=$(basename "$S" .R)

                echo "$KEY=$NUMBER" >> $GITHUB_OUTPUT
                done

                - name: Show results for all scripts
        run: |
            echo "run1 = ${{ steps.evals.outputs.run1 }}"
            echo "run2 = ${{ steps.evals.outputs.run2 }}"
            echo "run3 = ${{ steps.evals.outputs.run3 }}"
            echo "run4 = ${{ steps.evals.outputs.run4 }}"
