name: Extract total evaluations from R

on: workflow_dispatch

jobs:
  run-r:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c("DiceKriging","dplyr","plot3D","stats"))'
      
      - name: Start Xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          Xvfb :99 -screen 0 1024x768x24 &
          sleep 5

      - name: Run all R scripts and extract evaluation counts
        id: evals
        run: |
            export DISPLAY=:99
            
            SCRIPTS=("case_study8.R" "looped_ver_case_study8_multi_point_EI.R" "looped_ver_case_study8_multi_point_AEI.R" "looped_ver_case_study8_KG.R")

            for S in "${SCRIPTS[@]}"; do
            echo "Running $S..."

            OUT=$(Rscript "$S" 2>&1) || {
                echo "Error running $S"
                echo "$OUT"
                exit 1
            }

            LINE=$(echo "$OUT" | grep -m1 "Total evaluations")
            NUMBER=$(echo "$LINE" | awk -F': ' '{print $2}')

            KEY=$(basename "$S" .R)

            echo "$KEY=$NUMBER" >> $GITHUB_OUTPUT
            done
      - name: Print output
        run: |
            echo "case_study8 = ${{ steps.evals.outputs.run1 }}"
            echo "looped_ver_case_study8_multi_point_EI = ${{ steps.evals.outputs.run2 }}"
            echo "looped_ver_case_study8_multi_point_AEI = ${{ steps.evals.outputs.run3 }}"
            echo "looped_ver_case_study8_KG = ${{ steps.evals.outputs.run4 }}"
