name: Time test

# Makes sure the test only runs when manually activated
on: workflow_dispatch

jobs:
  timing-tests:
    runs-on: ubuntu-latest
    strategy:
    # Makes a matrix of jobs so that all of them can run in parallel
      matrix:
        script:
          - name: "case_study8"
            file: "case_study8.R"
          - name: "looped_ver_case_study8_multi_point_EI"
            file: "looped_ver_case_study8_multi_point_EI.R"
          - name: "looped_ver_case_study8_multi_point_AEI"
            file: "looped_ver_case_study8_multi_point_AEI.R"
          - name: "looped_ver_case_study8_KG"
            file: "looped_ver_case_study8_KG.R"
    
    steps:
      # Gets repo's code into the runner
      - name: Checkout code
        uses: actions/checkout@v3

      # Installs R onto the runner
      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      # Gets the packages I need to run the R code
      - name: Install R packages
        run: |
          Rscript -e 'install.packages(c("DiceKriging","dplyr","plot3D","stats"))'

      # Trying to setup somewhere for the graphs to display
      # Currently fails, but only with warnings so that it will still run as I don't think it was running without this     
      - name: Setup virtual display
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          export DISPLAY=:99
          Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
      
      
      - name: Time ${{ matrix.script.name }}
        run: |
          #Trys to use the display defined earlier. As said before, this isn't working.
          export DISPLAY=:99
          # Prints the name of the file we are timing
          echo "Timing ${{ matrix.script.name }}..."
          #Records the start time
          start=$(date +%s.%N)
          #Runs the file
          Rscript ${{ matrix.script.file }}
          # Records the end time
          end=$(date +%s.%N)
          # Does end - start to get the runtime but must use another program
          # as shell can't do floating point arithmetic
          runtime=$(echo "$end - $start" | bc)
          #Prints the runtime
          echo "Runtime: ${runtime}s"
          #saves the runtime to a file
          echo "${runtime}" > timing_result.txt

      # Uploads the file with the runtime as an artifact so other jobs can 
      # use it such as summary below
      - name: Upload timing result
        uses: actions/upload-artifact@v4
        with:
          # Only running each script once so just the name of the file is unique enough
          name: timing-${{ matrix.script.name }}
          path: timing_result.txt

  summary:
    # Waits until timing-tests job has finished, as o/w would run in parallel
    needs: timing-tests
    runs-on: ubuntu-latest
    steps:
      # Downloads every artifact that was made
      - name: Download all timing results
        uses: actions/download-artifact@v4
      
      # Displays the time for each test in a sumamry
      - name: Display summary
        run: |
          echo "=== Execution Time Summary ==="
          # loops over any file with name beginning with timing-
          for dir in timing-*; do
            # removes prefix to get only file name for printing
            name=${dir#timing-}
            # Reads the artifact file taht has the runtime
            time=$(cat "$dir/timing_result.txt")
            # Prints the file name and runtime next to each other
            echo "$name: ${time}s"
          done